<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{- .Title -}} - Electric Waves</title>
  <meta name="description" content="Electric Waves - Groupe de pop-rock indie français">
  
  <!-- CSS externe -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{- partial "header.html" . -}}
  <main>
    {{- if .IsHome -}}
    {{- partial "hero.html" . -}}
    {{- partial "about.html" . -}}
    {{- partial "projects.html" . -}}
    {{- partial "concerts.html" . -}}
    {{- partial "services.html" . -}}
    {{- partial "team.html" . -}}
    {{- partial "contact.html" . -}}
    {{- else -}}
    {{- block "main" . -}}{{- end -}}
    {{- end -}}
  </main>
  {{- partial "footer.html" . -}}
  
  <!-- JavaScript externe -->
  <script src="/js/main.js"></script>
</body>
</html>